NODE_ENV=prod 
LOG_LEVEL=WARN
PORT=8000
MONGODB_DATABASE_URL=mongodb://username:password@127.0.0.1/social
POSTGRES_DATABASE_URL=postgresql://username:password@localhost:5432/social
ACCESS_TOKEN_SECRET=jwt_access_secret
REFRESH_TOKEN_SECRET=jwt_refresh_secret
FASTAPI_URL=http://localhost:8001
RESEND_API_KEY=